// colors
$color-base: rgb(86, 84, 218);
$color-header: rgb(25, 25, 54);
$color-footer: rgb(25, 25, 54);
$color-light: rgb(250, 250, 250);
$color-dark: rgb(5, 10, 10);
$color-gray: rgb(142, 142, 148);
$color-link: rgb(255, 240, 160);
$color-linked: rgb(255, 225, 60);
$color-order-odd: #b6e2fe;
$color-order-even: #32bec8;

//sizes
$height-header: 4.375rem;
$height-footer: 3.5rem;
$height-order-min: 3.75rem;
